<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connStr1" connectionString="Server=121.40.53.105;Port=3306;Database=TripMore;Uid=hengyue;Pwd=mysql-hengyue;Charset=utf8;" />
    <add name="connStrRead1" connectionString="Server=121.40.53.105;Port=3306;Database=TripMore;Uid=hengyue;Pwd=mysql-hengyue;Charset=utf8;" />
    <add name="mongoStr" connectionString="mongodb://218.244.158.177:27017" />
    <add name="mongoDB" connectionString="hengyueLog" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off">
            <error redirect="http://tripmore.iflying.com/404.html" statusCode="404" /></customErrors>
  </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Allow-Headers" value="origin,x-requested-with,content-type" />
                <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>